@model subreddit_logger_portal.Models.ManyListingsViewModel;

@{
    ViewData["Title"] = "Listings";
}

<div class="text-center">
    <ul>
        @foreach (ListingModel listing in @Model.Listings)
        {
            <li>@listing.Id: @listing.MetaData?.Title <a asp-controller="listings" asp-action="single" asp-route-id=@listing.Id>view</a></li>
        }
    </ul>
</div>
