@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="listings" asp-action="single" method="get">
        <input name="id"></input>
    </form>
</div>
